{% extends "base.html" %}
{% load compress staticfiles %}

{% load cache %}
{% cache 500 sidebar %}
    .. sidebar ..
{% endcache %}

{% load embed_video_tags %}
{% block content%}
<!--You can use variables (with embedding) -->
<!-- Or you can just embed like so {% video item.video 'small' %} -->
{% for video in videos%}
<h1><br>{{video.title}}</br></h1>
{% video video.video as my_video %}
<h2>
  Introduction to Healthchecks Onboarding(Help Videos)
</h2>
<p>
    In this video, I’m going to define and explain the benefits of healthchecks onboarding.</br>
    I'll also show you a demo of creating checks, what Cron Jobs are etc so that you can use the system on your own.</br>
</p>

  {% video my_video "medium" %}
{% endvideo %}

{% endfor %}
{% video video.video.video as my_video %}

  URL: {{ my_video.url }}
  Thumbnail: {{ my_video.thumbnail }}
  Backend: {{ my_video.backend }}

  {% video my_video "medium" %}
{% endvideo %}

{% endblock %}

<!-- Default sizes are tiny (420x315), small (480x360), medium (640x480),
    large (960x720) and huge (1280x960). You can set your own size: 
    Or embed shortcut:
    {% video my_video '640x480' %} -->
